/* body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
} */
html {
  font-size: 62.5%;
  background-color: ghostwhite;
}

.flex {
  display: flex;
}

nav {
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 10px;
}

.buttons {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: none;
  background-color: darkgray;
  color: chocolate;
  margin: 0px 10px;
  height: 3vh;
  width: max-content;
}

.button-container {
  justify-content: flex-end;
  width: 95vw;
}

h1 {
  font-size: 3.5rem;
  justify-content: center;
  border-bottom: 3px solid black;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.stageLeft {
  flex-direction: column;
  height: max-content;
  border: 3px solid black;
  width: 25vw;
}

.moneySection {
  border: 2px solid green;
  height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.totalDollars {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.upcomingBookings, 
.previousBookings  {
  border: 2px solid red;
  height: max-content;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.upcomingRooms {
  border: 2px solid orange;
  height: 16vh;
  width: 16vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

.centerStage {
  border: 3px solid salmon;
  height: 30vh;
  width: 50vw;
  margin-left: 1%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.dates {
  justify-content: space-between;
  flex-direction: row;
  width: 30vw;
  align-items: center;
  font-size: 1.5rem;
}

.previousBookings {
  border: 3px solid blue;
  height: 300vh;
  margin-left: 20px;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 2rem;
}

.previousRooms {
  border: 3px solid green;
}

.search {
  flex-direction: column;
  height: 20vh;
  justify-content: space-evenly;
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  flex-direction: column;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}