* {
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
  background-color: ghostwhite;
}

.flex {
  display: flex;
}

nav {
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 10px;
}

.buttons {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: none;
  background-color: white;
  color: black;
  margin: 0px 10px;
  height: 4vh;
  width: 16vw;
}

.button-container {
  justify-content: flex-end;
  width: 95vw;
}

h1 {
  font-size: 3.5rem;
  justify-content: center;
  border-bottom: 3px solid black;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.stageLeft {
  flex-direction: column;
  height: max-content;
  width: 25vw;
}

.moneySection {
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.totalDollars {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.upcomingBookings, 
.previousBookings  {
  height: max-content;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  line-height: 14px;
}

.upcomingRooms {
  border: 2px solid black;
  height: 16vh;
  width: 16vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

.centerStage {
  border: 3px solid salmon;
  height: 30vh;
  width: 50vw;
  margin-left: 1%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.dates {
  justify-content: space-between;
  flex-direction: row;
  width: 30vw;
  align-items: center;
  font-size: 1.5rem;
}

.previousBookings {
  border: 3px solid black;
  height: 300vh;
  margin-left: 20px;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 2rem;
}

.search {
  flex-direction: column;
  height: 20vh;
  justify-content: space-evenly;
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  flex-direction: column;
  font-size: 2rem;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

.searchButton, .loginButton {
  cursor: not-allowed;
  font-size: 1.5rem;
}

.hotelRooms {
  height: 60%;
}

.totalDollars {
  font: 2rem;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
  margin: 2.5px;
}